.overlay{
    background: #ffdb67e8;
}
.circle{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(255, 244, 219), rgb(255, 221, 0));
    color: black;
    font-weight: 700;
}